<template>

    <div :class="{ 'list--three-line': jobsText }">
        <v-list-tile router :to="{ name: 'viewClient', params: { id: this.client.id }}">
            <v-list-tile-content>
                <v-list-tile-title v-text="client.name"/>
                <v-list-tile-sub-title>
                    <div>
                        <v-icon class="icon--small mr-1">home</v-icon>
                        {{ client.suburb }} {{ client.postcode }}
                    </div>
                    <div v-if="jobsText">
                        <v-icon class="icon--small mr-1">work</v-icon>
                        <span>{{ jobsText }}</span>
                    </div>
                </v-list-tile-sub-title>
            </v-list-tile-content>
        </v-list-tile>
    </div>

</template>

<script>
    export default {
        props: {
            client: {
                type: Object,
                required: true,
                'default': {},
            },
        },

        computed: {
            jobCounts() {
                return {
                    pending: this.client.jobs.filter(job => !job.completed).length,
                    complete: this.client.jobs.filter(job => job.completed).length
                }
            },
            jobsText() {
                let string;
                let pending = this.jobCounts.pending;
                let complete = this.jobCounts.complete;

                if (pending) {
                    string = `${pending} job${pending > 1 ? 's' : ''} booked`;
                    if (complete) string += ` and ${complete} completed`;
                } else if (complete) {
                    string = `${complete} completed job${complete > 1 ? 's' : ''}`;
                }

                return string;
            },
        },
    }
</script>
