<template>
    <v-dialog-bottom-transition appear
                                @after-enter="afterEnter"
                                @before-leave="enableScrolling"
    >
        <div class="dialog__content" ref="dialog">
            <div class="dialog dialog--fullscreen" :class="contentClass">

                <slot name="header"/>

                <v-card class="d-flex">
                    <slot/>
                </v-card>

            </div>
        </div>
    </v-dialog-bottom-transition>
</template>

<script>
    export default {
        props: ['contentClass'],

        methods: {

            afterEnter() {
                this.disableScrolling();
                this.$emit('visible');
            },

            disableScrolling() {
                document.documentElement.style.overflow = 'hidden';
            },

            enableScrolling() {
                document.documentElement.removeAttribute('style');
            }

        },
    }
</script>
