<template>
    <div class="fill-width">
        <v-card-title class="pb-2 px-2">
            <v-layout row flex>
                <div class="flex headline px-2">
                    {{ job.date }}
                </div>
                <v-spacer></v-spacer>
                <div>
                    <v-menu lazy
                            bottom
                            left
                            origin="top right"
                            transition="scale-transition"
                            :nudge-right="17"
                            :nudge-bottom="17">
                        <v-btn icon slot="activator" class="ma-0">
                            <v-icon>more_vert</v-icon>
                        </v-btn>
                        <v-list>
                            <v-list-tile @click="setCompleted(false)" v-if="job.completed">
                                <v-list-tile-action>
                                    <v-icon class="red--text">close</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>Mark Not Complete</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile @click="setCompleted(true)" v-else>
                                <v-list-tile-action>
                                    <v-icon class="green--text">check</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>Mark Complete</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile :to="{ name: 'editJob', params: { id: job.id } }">
                                <v-list-tile-action>
                                    <v-icon>edit</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>Edit job</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile @click="deleteJob">
                                <v-list-tile-action>
                                    <v-icon class="red--text">delete</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>Delete job</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-menu>
                </div>
            </v-layout>
        </v-card-title>
        <v-card-text class="pt-0 px-0">
            <v-layout column>
                <template v-if="client && !withoutClient">
                    <v-layout flex xs12>
                        <v-icon>person</v-icon>
                        <div class="py-2 pr-2">{{ client.name }}</div>
                    </v-layout>
                    <v-divider inset/>
                    <v-layout flex xs12>
                        <v-icon>home</v-icon>
                        <job-address :item="job.address || job.suburb || job.postcode ? job : client"
                                     inline-template>
                            <div class="py-2 pr-2">
                                {{ item.keys }}
                                <div>{{ item.address }}</div>
                                <div>
                                    {{ item.suburb }}
                                    {{ item.postcode }}
                                </div>
                            </div>
                        </job-address>
                    </v-layout>
                    <v-divider inset/>
                </template>
                <template v-if="job.details">
                    <v-layout flex xs12>
                        <v-icon>info</v-icon>
                        <div class="py-2 pr-2"
                             :style="{ whiteSpace: 'pre-wrap' }"
                             v-text="job.details"/>
                    </v-layout>
                    <v-divider inset/>
                </template>
                <v-layout flex xs12>
                    <v-icon>attach_money</v-icon>
                    <div class="py-2 pr-2">
                        ${{ job.price }}
                        <template v-if="job.paid">
                            <v-icon class="success--text icon--small">check</v-icon>
                            Paid
                        </template>
                        <template v-else>
                            <v-icon class="error--text icon--small">close</v-icon>
                            Not paid
                        </template>
                    </div>
                </v-layout>
            </v-layout>
            <v-layout column>
                <v-layout row-md column-xs>
                    <v-layout flex column justify-end xs12 class="text-xs-center ma-0">
                        <div class="display-1">{{ job.hours_worked }}</div>
                        <div class="caption">Hours worked</div>
                    </v-layout>
                </v-layout>
            </v-layout>
        </v-card-text>
    </div>
</template>

<script>
    import axios from 'axios';
    import { reportError } from 'js/helpers';
    import { SET_JOB } from 'js/store/mutation-types';

    export default {
        data: () => ({
            client: {},
        }),

        props: {
            job: {
                type: Object,
                required: true,
            },
            withoutClient: {
                type: Boolean,
                'default': false,
            },
        },

        async created() {
            this.client = await this.$store.getters.getClientById(this.job.client_id);
        },

        methods: {
            async setCompleted(completed) {
                let request;

                try {
                    request = await axios.patch(`/api/jobs/${this.job.id}`, { completed });
                } catch (err) {
                    throw reportError(err)
                }

                if (!request.data.success) {
                    if (request.data.message) return reportError(request.data.message);
                    return reportError('Job update failed');
                }
                const job = Object.assign({}, this.job, request.data.data);
                this.$store.commit(SET_JOB, job);
                this.$store.dispatch('snackbar', 'Job updated');
            },
            deleteJob() {
                // TODO: Show confirmation dialog
            },
        },

        components: {
            jobAddress: {
                props: ['item'],
            }
        },
    }
</script>

<style lang="stylus" scoped>
    .card__text > .column > .flex > .icon
        flex 0 0 72px
        width 72px
</style>
