<template>
    <v-card flat>
        <v-list :class="{ 'list--light': $root.darkTheme, 'pb-0': true }">
            <v-divider/>
            <template v-for="item in items">

                <v-divider v-if="item.divider"/>

                <v-list-group v-else-if="item.expansion">
                    <v-list-tile slot="item" @click="">
                        <v-list-tile-content>
                            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-icon>keyboard_arrow_down</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>

                    <div class="d-flex"
                         :class="{'grey lighten-2': !$root.darkTheme }"
                         :style="[$root.darkTheme ? {background: 'rgba(0,0,0,0.12)'} : {}]">
                        <v-card v-if="item.items.length" class="fill-width mx-2 mb-2">
                            <template v-for="subItem in item.items">
                                <v-divider v-if="subItem.divider"/>
                                <job v-else
                                     :job="subItem"
                                     :without-client="withoutClient"
                                     :key="subItem.id"/>
                            </template>
                        </v-card>
                        <v-card class="fill-width mx-2 mb-2" v-else>
                            <div>
                                <v-list-tile-content>
                                    <v-card-text>
                                        <small>There's nothing here</small>
                                    </v-card-text>
                                </v-list-tile-content>
                            </div>
                        </v-card>
                    </div>
                </v-list-group>

                <job v-else :job="item" :without-client="withoutClient" :key="item.id"/>

            </template>
            <v-divider/>
        </v-list>
    </v-card>
</template>

<script>
    import Job from 'js/components/Job.vue';
    import { intersperse } from 'js/helpers';

    export default {
        props: {
            jobs: {
                required: true,
                type: Array,
            },
            withoutClient: {
                type: Boolean,
                'default': false,
            },
        },

        computed: {
            items() {
                let divider       = { divider: true };
                let pendingJobs   = this.jobs.filter(job => !job.completed);
                let completedJobs = this.jobs.filter(job => job.completed);
                let completeJobs  = {
                    expansion: true,
                    title:     `Completed (${completedJobs.length})`,
                    items:     intersperse(completedJobs, divider)
                };

                return intersperse([...pendingJobs, completeJobs], divider);
            },
        },

        components: {
            Job
        },
    }
</script>
