<template>
    <v-container>
        <v-form v-model="valid" ref="form">
            <v-layout row wrap>
                <v-flex xs12 md5>
                    <v-menu lazy
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            full-width
                            max-width="290px"
                            :nudge-left="40">
                        <v-text-field slot="activator"
                                      label="Date"
                                      ref="date"
                                      v-model="form.date"
                                      prepend-icon="event"
                                      readonly
                                      :rules="[rules.required]"
                                      required/>
                        <v-date-picker :dark="$root.darkTheme"
                                       v-model="form.date"
                                       no-title
                                       scrollable actions>
                            <template scope="{ save, cancel }">
                                <v-card-actions>
                                    <v-btn flat primary @click="cancel()">
                                        Cancel
                                    </v-btn>
                                    <v-btn flat primary @click="save()">
                                        Save
                                    </v-btn>
                                </v-card-actions>
                            </template>
                        </v-date-picker>
                    </v-menu>
                </v-flex>
            </v-layout>

            <v-layout row wrap align-baseline>
                <v-flex xs12 md5>
                    <v-select label="Client"
                              prepend-icon="person"
                              :items="clients"
                              v-model="form.client"
                              item-text="name"
                              item-value="id"
                              class="mb-2"
                              required
                              :rules="[rules.required]"
                              autocomplete>
                        <template slot="item" scope="data">
                            <v-list-tile-content>
                                <v-list-tile-title v-text="data.item.name"/>
                                <v-list-tile-sub-title v-text="data.item.suburb"/>
                            </v-list-tile-content>
                        </template>
                    </v-select>
                </v-flex>

                <v-flex xs12 md7>
                    <div :class="{ 'card mb-3': !form.useClientAddress }">
                        <v-container grid-list-md>
                            <v-checkbox :label="'Use client address' + (client ? ':' : '')"
                                        v-model="form.useClientAddress"
                                        hide-details
                                        class="py-0"/>

                            <v-layout row wrap v-if="!form.useClientAddress">
                                <v-flex xs12 md6>
                                    <v-text-field label="Address"
                                                  v-model="form.address"
                                                  required
                                                  :rules="[rules.required]"
                                                  hide-details/>
                                </v-flex>

                                <v-flex xs8 md4>
                                    <v-text-field label="Suburb"
                                                  v-model="form.suburb"
                                                  required
                                                  :rules="[rules.required]"
                                                  hide-details/>
                                </v-flex>

                                <v-flex xs4 md2>
                                    <v-text-field label="Postcode"
                                                  v-model="form.postcode"
                                                  required
                                                  :rules="[rules.required]"
                                                  hide-details/>
                                </v-flex>
                            </v-layout>
                            <v-layout row wrap
                                      v-if="form.useClientAddress && client"
                                      :style="{ paddingLeft: '32px' }">
                                <v-flex xs12>{{ client.address }}</v-flex>
                                <v-flex xs12>
                                    {{ client.suburb}} {{ client.postcode}}
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </div>
                </v-flex>
            </v-layout>

            <v-layout row wrap>
                <v-flex xs12 md8>
                    <v-text-field label="Details"
                                  v-model="form.details"
                                  ref="detailsInput"
                                  multi-line
                                  auto-grow
                                  :rows="3"/>
                </v-flex>

                <v-flex xs12 md4>
                    <v-text-field label="Price"
                                  prefix="$"
                                  type="tel"
                                  v-model="form.price"
                                  :rules="[rules.required, rules.price]"
                                  required
                                  placeholder="Price"/>
                    <v-checkbox label="Paid" v-model="form.paid" hide-details/>
                </v-flex>
            </v-layout>

            <small>*indicates required field</small>
        </v-form>
    </v-container>
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        data: () => ({
            valid: true,
            form:  {
                date:             null,
                client:           null,
                useClientAddress: true,
                address:          '',
                suburb:           '',
                postcode:         '',
                details:          '',
                price:            '',
                paid:             false,
            },
            rules: {
                required: (value) => !!value || 'Required',
                price(value) {
                    return /^\d+(\.\d{2})?$|^(?!.)/.test(value) ||
                        'Must match \'$12\' or \'$123.45\''
                },
            },
        }),

        props: {
            job: {
                type:      Object,
                'default': () => ({}),
            },
        },

        methods: {
            async save() {
                // TODO: remove when vuetifyjs/vuetify#1581 is merged
                if (this.$refs.form.validate() + this.$refs.date.validate(true) !== 2) return;

                if (this.job == null) {
                    // Job needs to be created
                    const id = await this.$store.dispatch('addJob', this.form);
                    this.$store.dispatch('snackbar', 'Job Saved');
                    this.$router.replace({
                        name:   'editJob',
                        params: { id }
                    }, () => {
                        this.$router.go(-1);
                    });
                } else {
                    // Update existing job
                    await this.$store.dispatch('updateJob', {
                        job:      this.job,
                        formData: this.form
                    });
                    this.$store.dispatch('snackbar', 'Job Saved');
                }
            }
        },

        asyncComputed: {
            client() {
                console.debug('[asyncComputed] JobForm.client');
                if (this.form.client == null) return;
                return this.$store.getters.getClientById(this.form.client);
            },
        },

        computed: {
            ...mapState(['clients']),
        },

        created() {
            if (this.job != null) this.form = Object.assign({}, this.form, {
                date:             this.job.date,
                client:           this.job.client_id,
                useClientAddress: [this.job.address, this.job.suburb, this.job.postcode].every(e => e == null),
                address:          this.job.address,
                suburb:           this.job.suburb,
                postcode:         this.job.postcode,
                details:          this.job.details,
                price:            this.job.price,
                paid:             this.job.paid,
            });
        }
    }
</script>
