<template>
    <v-tabs centered
            fixed
            dark
            :style="{ zIndex: 1, position: 'fixed', top: 0 }"
            :class="[$style.tabsBar, 'elevation-4', tabsBarFixed ? $style.tabsBarFixed : '']">

        <v-card tile class="primary white--text" ref="appBar" :class="$style.titleCard">
            <v-layout row align-center justify-space-between>
                <v-card-title primary-title class="headline">Gardeners-R-US</v-card-title>
                <v-menu offset-y left lazy>
                    <v-btn icon slot="activator" class="white--text">
                        <v-icon>more_vert</v-icon>
                    </v-btn>
                    <v-list>
                        <v-list-tile @click="refresh">
                            <v-list-tile-action>
                                <v-fade-transition mode="out-in">
                                    <v-progress-circular indeterminate
                                                         v-if="containerLoading"
                                                         :size="24"
                                                         class="icon--dark"></v-progress-circular>
                                    <v-icon v-else>refresh</v-icon>
                                </v-fade-transition>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>Refresh</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile router :to="{ name: 'settings' }">
                            <v-list-tile-action>
                                <v-icon>settings</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>Settings</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-menu>
            </v-layout>
        </v-card>

        <v-tabs-bar ref="tabsBar">
            <v-tabs-slider/>
            <v-tabs-item :to="{ name: 'today' }" replace exact>
                Today
            </v-tabs-item>
            <v-tabs-item :to="{ name: 'jobs' }" replace>
                Jobs
            </v-tabs-item>
            <v-tabs-item :to="{ name: 'clients' }" replace>
                Clients
            </v-tabs-item>
        </v-tabs-bar>

    </v-tabs>
</template>

<script>
    export default {
        data: () => ({
            tabsBarFixed: false,
        }),
        props: ['containerLoading'],
        mounted() {
            document.addEventListener('scroll', this.scrollHandler);
            this.scrollHandler();
        },
        beforeDestroy() {
            document.removeEventListener('scroll', this.scrollHandler);
        },
        methods: {
            scrollHandler() {
                this.tabsBarFixed = 72 - window.scrollY <= 0;
            },
            refresh() {
                this.$emit('refresh');
            },
        },
    }
</script>

<style lang="stylus" module>
    @import "~stylus/imports.styl"

    :local
        .titleCard
            height 72px !important
        .tabsBar
            transition transform $secondary-transition
            transform translateY(0px)
        .tabsBarFixed
            transform translateY(-72px)
</style>
