<template>
    <v-toolbar dark fixed dense class="primary" ref="appBar">
        <v-btn icon @click="$router.go(-1)" dark>
            <v-icon>arrow_back</v-icon>
        </v-btn>
        <v-toolbar-title><slot/></v-toolbar-title>
        <v-spacer/>
        <v-toolbar-items>
            <slot name="action"/>
        </v-toolbar-items>
    </v-toolbar>
</template>
