<template>
    <div :class="[$style.overlay, showSnackbar ? $style.overlaySnackbarOpen : '']" :style="overlayStyle">
        <v-fab-transition>
            <div :key="route.fabIcon" :class="$style.fabWrapper">
                <v-fab-transition>
                    <v-btn ref="fab"
                           fab
                           absolute
                           primary
                           dark
                           v-show="route.fabEnabled"
                           :class="$style.fab"
                           :to="route.fabAction || { location: '/' }">
                        <v-icon>{{ route.fabIcon }}</v-icon>
                    </v-btn>
                </v-fab-transition>
            </div>
        </v-fab-transition>
        <v-snackbar ref="snackbar"
                    v-if="showSnackbar"
                    :class="$style.snackbar"
                    :value="true"
                    :timeout="1000"
                    absolute>
            {{ currentSnackbar.message }}
        </v-snackbar>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    import { REMOVE_SNACKBAR } from 'js/store/mutation-types';

    export default {
        data: () => ({
            currentSnackbar: null,
            showSnackbar: false,
            showingSnackbar: true,
            route: {
                fabEnabled: false,
            },
            overlayStyle: {},
        }),

        computed: {
            ...mapState(['snackbars']),
        },

        mounted() {
            this.route = this.$store.state.route.meta;
            this.$el.addEventListener('transitionend', this.transitionend);
        },

        beforeDestroy() {
            this.$el.removeEventListener('transitionend', this.transitionend);
        },

        watch: {
            '$store.state.route'({ meta: value }) {
                this.route = value;
            },
            async snackbars(to, from) {
                if (!this.showSnackbar && to.length) {
                    this.currentSnackbar = to[0];
                    this.showSnackbar = true;
                    this.showingSnackbar = true;
                    await this.$nextTick();
                    this.overlayStyle = {
                        transform: `translateY(-${this.$refs.snackbar.$el.getBoundingClientRect().height}px)`,
                    };
                    setTimeout(() => {
                        this.overlayStyle = {};
                    }, this.currentSnackbar.duration)
                }
            },
        },

        methods: {
            transitionend(event) {
                if (event.target !== this.$el) return;
                if (this.showingSnackbar) {
                    this.showingSnackbar = false;
                } else {
                    this.showSnackbar = false;
                    this.$store.commit(REMOVE_SNACKBAR);
                }
            }
        },
    }
</script>

<style lang="stylus" module>
    @import "~stylus/imports.styl"

    :local {
        .overlay {
            position : fixed
            bottom : 0
            left : 0
            width : 100%
            height : 0
            z-index : 10
            transform : translateY(0)
            transition : transform 225ms $transition.fast-out-slow-in
            &SnackbarOpen {
                transition-duration: 315ms
            }
        }
        .fab {
            will-change : transform !important
        }
        .fabWrapper {
            position : fixed;
            bottom: 24px;
            right: 24px;
            width: 56px;
            height: 56px;
            border-radius: 50%;
        }
        .snackbar {
            height: initial !important
            bottom: initial !important
            top: 0
        }
    }
</style>
