<template>
    <div>
        <v-fade-transition mode="out-in">
            <v-container v-if="isLoading" :key="false">
                <v-layout>
                    <v-flex xs12 class="text-xs-center">
                        <v-progress-circular indeterminate v-bind:size="50"/>
                    </v-flex>
                </v-layout>
            </v-container>

            <!-- bottom margin for FAB -->
            <v-card v-else :key="true" style="margin-bottom: 96px">
                <v-list two-line>
                    <template v-for="item in items">
                        <v-divider v-if="item.divider"/>
                        <client v-else :client="item" :key="item.id"/>
                    </template>
                </v-list>
            </v-card>
        </v-fade-transition>

        <router-view/>
    </div>
</template>

<script>
    import Client from 'js/components/Client.vue';
    import { mapState } from 'vuex';
    import { intersperse } from 'js/helpers';

    export default {
        data: () => ({
            isLoading: true,
        }),
        computed: {
            ...mapState(['clients']),
            items() {
                return intersperse(this.clients, { divider: true });
            },
        },
        methods: {
            async refresh() {
                this.isLoading = true;
                this.$emit('loading');
                await this.$store.dispatch('refreshClients');
                this.isLoading = false;
                this.$emit('loaded');
            },
        },
        created() {
            if (!this.$store.state.clients.length) this.refresh();
            else this.isLoading = false;
        },
        components: {
            Client,
        },
    }
</script>
