<template>
    <fullscreen-dialog content-class="pt-5" @visible="onVisible">
        <sub-app-bar class="elevation-4" slot="header">
            {{ verb }} Job
            <v-fade-transition slot="action" mode="out-in">
                <v-btn flat dark @click="save" v-if="isLoaded">
                    <v-icon dark class="mr-1">save</v-icon>
                    SAVE
                </v-btn>
                <div v-else/>
            </v-fade-transition>
        </sub-app-bar>

        <v-fade-transition mode="out-in">
            <job-form v-if="isLoaded" :job="job" ref="form"/>

            <v-container class="d-flex" justify-center v-else>
                <v-progress-circular indeterminate :size="50"/>
            </v-container>
        </v-fade-transition>
    </fullscreen-dialog>
</template>

<script>
    import JobForm from 'js/components/JobForm.vue';
    import SubAppBar from 'js/components/SubAppBar.vue';
    import FullscreenDialog from 'js/components/FullscreenDialog.vue';

    export default {
        data: () => ({
            isLoaded: false,
            job: null,
        }),

        props: {
            verb: {
                type: String,
                required: false,
                'default': 'Edit',
            },
            jobId: {
                type: [String, Number],
                'default': null,
            },
        },

        methods: {
            async onVisible() {
                const getJobById = this.$store.getters.getJobById;

                const tasks = [
                    this.$store.dispatch('refreshClients'),
                ];

                if (this.jobId != null) {
                    tasks.push((async () => {
                        await this.$store.dispatch('refreshJobs');
                        this.job = await getJobById(this.jobId);
                    })());
                }

                await Promise.all(tasks);

                this.isLoaded = true;
            },
            save() {
                return this.$refs.form.save();
            },
        },

        components: {
            JobForm,
            SubAppBar,
            FullscreenDialog,
        },
    }
</script>
