<template>
    <div>
        <v-fade-transition mode="out-in">
            <v-container v-if="isLoading">
                <v-layout>
                    <v-flex xs12 class="text-xs-center">
                        <v-progress-circular indeterminate v-bind:size="50"></v-progress-circular>
                    </v-flex>
                </v-layout>
            </v-container>

            <!-- bottom margin for FAB -->
            <job-collection v-else :jobs="jobs" style="margin-bottom: 96px"/>
        </v-fade-transition>

        <router-view/>
    </div>
</template>

<script>
    import JobCollection from 'js/components/JobCollection.vue';
    import { mapState } from 'vuex';

    export default {
        data: () => ({
            isLoading: true,
        }),
        computed: {
            ...mapState(['jobs']),
        },
        methods: {
            async refresh() {
                this.isLoading = true;
                this.$emit('loading');
                await Promise.all([this.$store.dispatch('refreshJobs'), this.$store.dispatch('refreshClients')]);
                this.isLoading = false;
                this.$emit('loaded');
            },
        },
        created() {
            if (!this.$store.state.jobs.length || !this.$store.state.clients.length) this.refresh();
            else this.isLoading = false;
        },
        components: {
            JobCollection,
        }
    }
</script>
