<template>
    <div>
        <v-toolbar class="primary elevation-2" light ref="appBar">
            <v-btn icon light :to="{ name: 'today' }">
                <v-icon>chevron_left</v-icon><v-icon>home</v-icon>
            </v-btn>
            <v-toolbar-title>404</v-toolbar-title>
        </v-toolbar>

        <v-container>
            <div class="headline">Page not found</div>
        </v-container>
    </div>
</template>
