<template>
    <div :style="{ paddingTop: '120px' }">
        <root-app-bar @refresh="refresh" :containerLoading="containerLoading"/>
        <v-slide-x-reverse-transition mode="out-in">
            <router-view ref="view"/>
        </v-slide-x-reverse-transition>
    </div>
</template>

<script>
    import RootAppBar from 'js/components/RootAppBar.vue';

    export default {
        props: ['containerLoading'],
        methods: {
            async refresh() {
                if (this.$refs.view.refresh) {
                    this.$emit('update:containerLoading', true);
                    await this.$refs.view.refresh();
                    this.$emit('update:containerLoading', false);
                }
            }
        },
        components: {
            RootAppBar,
        },
    }
</script>
