<template>
    <fullscreen-dialog content-class="pt-5">
        <sub-app-bar class="elevation-4" slot="header">Settings</sub-app-bar>

        <v-list two-line subheader class="pb-0">
            <v-subheader>General</v-subheader>

            <v-list-tile avatar>
                <v-list-tile-content>
                    <v-list-tile-title>Dark theme</v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action>
                    <v-switch v-model="darkTheme"/>
                </v-list-tile-action>
            </v-list-tile>

            <v-list-tile avatar @click="clearCache">
                <v-list-tile-content>
                    <v-list-tile-title>Clear cache</v-list-tile-title>
                    <v-list-tile-sub-title>
                        Offline mode will be unavailable until refresh
                    </v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>

            <v-divider/>

            <v-list-tile :class="{
                        'success': $root.isOnline,
                        'error': !$root.isOnline
                    }" avatar>
                <v-list-tile-content class="title white--text">
                    <v-list-tile-title v-if="$root.isOnline">Online</v-list-tile-title>
                    <v-list-tile-title v-else>Offline</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>

        </v-list>
    </fullscreen-dialog>
</template>

<script>
    import SubAppBar from 'js/components/SubAppBar.vue';
    import { SET_USER_PREFERENCE } from 'js/store/mutation-types';
    import FullscreenDialog from 'js/components/FullscreenDialog.vue';

    export default {
        computed: {
            darkTheme: {
                get() {
                    return this.$root.darkTheme;
                },
                set(newValue) {
                    this.$store.commit(SET_USER_PREFERENCE, { darkTheme: newValue });
                }
            }
        },

        methods: {
            async clearCache() {
                try {
                    let keyList = await caches.keys();
                    await Promise.all(keyList.map(key => {
                        return caches.delete(key);
                    }));
                    let registrations = await navigator.serviceWorker.getRegistrations();
                    await Promise.all(registrations.map(registration => {
                        return registration.unregister();
                    }));
                } finally {
                    this.$router.replace({ name: 'today' }, () => {
                        this.$router.go();
                    });
                }
            },
        },

        components: {
            SubAppBar,
            FullscreenDialog,
        }
    }
</script>
