<template>
    <div>
        <v-fade-transition mode="out-in">
            <v-container v-if="isLoading" :key="false">
                <v-layout>
                    <v-flex xs12 class="text-xs-center">
                        <v-progress-circular indeterminate v-bind:size="50"></v-progress-circular>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-fade-transition>
    </div>
</template>

<script>
    import Job from '../components/Job.vue';

    export default {
        data: () => ({
            isLoading: true,
        }),
        asyncComputed: {
            jobs: {
                get() {
                    return this.$store.getters.getJobsByDate('today');
                },
                'default': [],
            },
        },
        methods: {
            async refresh() {
                this.isLoading = true;
                this.$emit('loading');
                await Promise.all([this.$store.dispatch('refreshJobs'), this.$store.dispatch('refreshClients')]);
                this.isLoading = false;
                this.$emit('loaded');
            },
        },
        created() {
            if (!this.$store.state.jobs.length || !this.$store.state.clients.length) this.refresh();
            else this.isLoading = false;
        },
        components: {
            Job,
        },
    }
</script>
