<template>
    <fullscreen-dialog content-class="pt-5" @visible="onVisible">
        <sub-app-bar class="elevation-4" slot="header">{{ client.name }}</sub-app-bar>

        <v-fade-transition mode="out-in">
            <div v-if="isLoaded">
                ID: {{ client.id }}
                <br>
                name: {{ client.name }}
                <br>
                address: {{ client.address }}
                <br> {{ client.suburb }} {{ client.postcode }}

                <div class="display-1 mt-3">Jobs</div>

                <!-- bottom margin for FAB -->
                <job-collection :jobs="jobs" without-client style="margin-bottom: 96px"/>
            </div>

            <v-container class="d-flex" justify-center v-else>
                <v-progress-circular indeterminate :size="50"/>
            </v-container>
        </v-fade-transition>
    </fullscreen-dialog>
</template>

<script>
    import SubAppBar from 'js/components/SubAppBar.vue';
    import JobCollection from 'js/components/JobCollection.vue';
    import FullscreenDialog from 'js/components/FullscreenDialog.vue';

    export default {
        data: () => ({
            isLoaded: false,
            client: {},
            jobs: [],
        }),

        props: {
            clientId: {
                type:      [String, Number],
                'default': null,
            },
        },

        asyncComputed: {
            jobs() {
                if (!this.clientId || !this.client.jobs) return [];

                return Promise.all(
                    this.client.jobs.map(job => {
                        return this.$store.getters.getJobById(job.id)
                    })
                );
            }
        },

        methods: {
            async onVisible() {
                if (this.clientId != null) {
                    this.client = await this.$store.getters.getClientById(this.clientId);
                }

                this.isLoaded = true;
            },
        },

        components: {
            SubAppBar,
            JobCollection,
            FullscreenDialog,
        },
    }
</script>
