<template>
    <v-app :dark="$root.darkTheme" :light="!$root.darkTheme" :class="$style.app">

        <v-slide-x-reverse-transition mode="out-in">
                <router-view ref="pageContentContainer" :containerLoading.sync="containerLoading"/>
        </v-slide-x-reverse-transition>

        <ui-overlay/>

    </v-app>

</template>

<script>
    import UiOverlay from './components/UiOverlay.vue';

    export default {
        data: () => ({
            containerLoading: false,
            isTransitioning: false,
        }),
        methods: {
            refresh() {
                this.$root.onlineCheck();
                if (this.$refs.pageContentContainer.refresh) {
                    return this.$refs.pageContentContainer.refresh();
                }
            },
        },
        components: {
            UiOverlay,
        }
    }
</script>

<style lang="stylus" module>
    @import "~stylus/imports.styl"

    :local
        .app
            min-height 100%
            overflow hidden
</style>
