@import 'imports.styl'
@import '~vuetify/src/stylus/main.styl'
@import "~material-design-icons/iconfont/material-icons.css"

html, body
  height 100%

.scroll-container
  height 100%
  overflow-x hidden
  overflow-y scroll
  will-change transform

.fab
  @extend .elevation-6
  &:active
    @extend .elevation-12

.snack__content
  .btn
    margin 0 -24px 0 48px
    height 48px

@media $display-breakpoints.xs-only
  .snack
    &--multi-line .btn
      margin 0 -24px 0 48px
      height calc(100% + 48px)

.menu__content > .card
  will-change transform

.icon--small
  font-size 1em
  vertical-align text-bottom

.fill-width
  width 100%

.dialog--fullscreen > *,
.dialog--scrollable .card__text > *
  will-change transform
